/*@import "/node_modules/flag-icons/css/flag-icons.min.css";*/
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #D397F8;
    font-family: "Playwrite NZ", cursive;
}
.container {
    background-color: #fff;
    width: 50%;
    border-radius: 5px;
    margin: auto;
    padding: 40px;
}
.line {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.item {
    display: flex;
    flex-direction: column;
    width: 49%;

}
.into-item {
    width: 100%;
    display: flex;
    flex-direction: column;
}

input[type=text],
select,
textarea, 
input[type=submit] {
    width: 100%;
    margin: auto;
    background-color: #D397F8;
    border-radius: 5px;
    border: 1px solid#fff;
    font-family: "Playwrite NZ", cursive;

}
h1 {
    text-align: center;
}

input::placeholder,
textarea::placeholder,
h1 {
    color: #FFFFFF;
}
#email, #phone {
    background-color: #bd68ee;
}
#country {
    background-color: #8b2fc9;
    color: #fff;
}
#address {
    background-color: #6818a5;
}
#textarea {
    background-color: #5a108f;
}
#submit {
    background-color: #310055;
    color: white;
    cursor: pointer;
}
select {
    color: #fff;
}

.hidden {
    display: none;
}
.message {
    color: red;
    font-size: 11px;
}
.correctInput {
    color: #008000;
    font-size: 11px;
}
.item span {
    margin-top: -5px;
    padding: 0;
    text-align: center;
}


